[submodule "themes/dream"]
	path = themes/dream
	url = git@github.com:g1eny0ung/hugo-theme-dream
	ignore = dirty
[submodule "public"]
	path = public
	url = git@github.com:satishvis/satishvis.github.io.git
	ignore = dirty
